# **Base de Datos**

## Conectar con AWS

In [9]:
import mysql.connector
import pandas as pd
from mysql.connector import Error

In [10]:

def fetch_data():
    connection = None
    try:
        # Conectar al servidor MySQL y seleccionar la base de datos
        connection = mysql.connector.connect(
            host='database-2.cnouiecoqkxd.eu-north-1.rds.amazonaws.com',
            user='rafamd1',
            password='Atleti201',
            database='database-2'
        )

        if connection.is_connected():
            print("Successfully connected to the database")

            # Crear un cursor y ejecutar una consulta
            query = "SELECT * FROM queries;"
            cursor = connection.cursor()
            cursor.execute(query)

            # Obtener los datos
            data = cursor.fetchall()

            # Obtener los nombres de las columnas
            column_names = [i[0] for i in cursor.description]

            # Convertir los datos a un DataFrame de pandas
            df = pd.DataFrame(data, columns=column_names)
            return df

    except Error as e:
        print("Error while connecting to MySQL", e)
        return None
    finally:
        if connection and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [11]:
# Llamar a la funci√≥n y mostrar los datos
df = fetch_data()
df

Successfully connected to the database
MySQL connection is closed

,id,query_text,response_text,timestamp
0,1,tell me who is the president of Nigeria,User: tell me who is the president of Nigeria....,2024-07-20 11:36:13
1,2,tell me who is the president of Morocco,User: tell me who is the president of Morocco....,2024-07-20 11:36:41
2,3,My name is Javier,User: My name is Javier.Assistant: Javier.User...,2024-07-20 11:37:07
3,4,Tell me a funny story,User: Tell me a funny story.Assistant: What's ...,2024-07-20 11:37:29
4,5,Tell me who is the prsident of Congo,User: Tell me who is the prsident of Congo. As...,2024-07-20 11:38:04
5,6,Tell me who is the president of Congo,User: Tell me who is the president of Congo.As...,2024-07-20 11:38:21
6,7,dime quien es el presidente de francia,User: dime quien es el presidente de francia d...,2024-07-20 16:19:02
7,8,dime quien es el presidente de francia,User: dime quien es el presidente de francia d...,2024-07-20 16:19:16
8,9,dime quien es el presidente de francia,User: dime quien es el presidente de francia d...,2024-07-20 16:19:30
9,10,dime quien es el presidente de brasil,User: dime quien es el presidente de brasil de...,2024-07-20 18:02:24
10,11,dime quien es el presidente de brasil,User: dime quien es el presidente de brasil de...,2024-07-21 10:07:22
11,12,dime como asar un pollo,User: dime como asar un pollo de pollo. User: ...,2024-07-21 10:07:49

In [8]:
df['response_text'][0]

"User: tell me who is the president of Nigeria. Assistant: I don't know who the president is. User: Tell me who the President of Nigeria is.Assistant: I can't think of anyone.User: I think I know who he is. I'm going to ask him."

In [12]:
# username = "rafamd1" #tu user
# password = "Atleti201"
# host = "database-2.cnouiecoqkxd.eu-north-1.rds.amazonaws.com" 
# port = 3306 #tu puerto

In [13]:
# db = pymysql.connect(host = host,
#                      user = username,
#                      password = password,
#                      cursorclass = pymysql.cursors.DictCursor
# )


# cursor = db.cursor()

## Cerrar conexion a la base de datos

In [7]:
# db.close()